/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Overwrite default color black with a lighter tone */
h1, h2, h3, h4, h5, h6, a, p, button, li, label {
  color: rgb(33, 37, 35);
}

.banner {
  margin: clamp(5px, 1.5%, 2em) 0;
  background-color: coral;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.banner__heading {
  color: whitesmoke;
}

.banner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.banner-container .banner__heading {
  padding: 1.2rem;
  max-width: 12em;
}
.banner-container #banner-1 {
  width: 30%;
  min-width: 32ch;
  flex-grow: 1;
  background-image: url("https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg");
  min-height: 10rem;
  justify-content: start;
}
.banner-container #banner-2 {
  width: 65%;
  flex-grow: 3;
  background-image: url("https://images.pexels.com/photos/96938/pexels-photo-96938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 15rem;
  justify-content: end;
}
.banner-container #banner-3 {
  width: 100%;
  background-image: url("https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg");
  min-height: 10rem;
  justify-content: center;
}
.banner-container #banner-3 h2 {
  text-align: center;
}

.link-btn {
  font-weight: 600;
  font-size: 1rem;
  margin: 0.3rem;
  padding: 0.4rem 0.8rem;
  border: none;
  text-align: start;
  background-color: transparent;
}

.card-container {
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  border: 2px solid rgb(28, 27, 63);
}
.card-container .card {
  flex: 0 0 auto;
  width: 25ch;
  padding: 0.5rem 0;
  border: 1px solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.card-container .card__details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.offcanvasLink {
  display: block;
  padding: 0.5rem 0;
}
.offcanvasLink li {
  margin: 1rem 0;
}
.offcanvasLink a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

.offcanvas .divider {
  color: rgb(230, 230, 230);
}

#offcanvasMenuLabel {
  color: white;
}

.filter__category {
  padding: 5px;
}

input[type=range] {
  max-width: 100px;
  cursor: pointer;
}

.content-divider {
  background-color: coral;
  padding: 1.5% 1rem;
  margin-bottom: clamp(5px, 1.5%, 2.5em);
  display: flex;
  justify-content: space-between;
}
.content-divider h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.header-wrapper {
  background-color: cornflowerblue;
  min-height: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .header__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .header__header .menuToggle {
  border: 2px solid rgb(56, 54, 54);
  margin: 0.5em;
}
.header-wrapper .header__header .menuToggle i {
  font-size: 1.5em;
}
.header-wrapper .header__header .header__h1 {
  margin-right: auto;
  padding: 0.75em;
}
.header-wrapper .header__header .header__h1 h1 {
  text-align: center;
  font-size: 2em;
}

@media screen and (min-width: 768px) {
  .menuToggle {
    display: none;
  }
}
section {
  margin-bottom: clamp(5px, 1.5%, 2.5em);
}

.nav-wrapper {
  display: none;
}
.nav-wrapper .top-nav {
  background-color: rgb(167, 228, 149);
}
.nav-wrapper .top-nav .horizontal-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
}
.nav-wrapper .top-nav .horizontal-list__item {
  padding: 0.5em 1.5em;
}
.nav-wrapper .top-nav .horizontal-list__item:nth-child(1) {
  margin-right: auto;
}
.nav-wrapper .bot-nav {
  background-color: coral;
}

.dropdown-menu {
  min-width: 15rem;
  background-color: coral;
  border-radius: 5px;
}

.searchbar {
  width: clamp(14rem, 40%, 50%);
  margin-left: 2%;
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
