////////////////////////////////////
@use "../1-abstracts/" as *;
////////////////////////////////////

.nav-wrapper {
    display: none;
    .bot-nav {
        background-color: rgb(236, 160, 88);
        .horizontal-list {
            list-style: none;
            margin:0;
            @include flex-properties(row, wrap, start, stretch);
            &__item {
                padding: .5em 1.5em;
                a {
                    text-decoration: none;
                }
            }
            
        }
    }
}


@media screen and (min-width: 768px) {
    .nav-wrapper {
        display: block;
    }
}