////////////////////////////////////
@use "../1-abstracts/" as *;
////////////////////////////////////

.nav-wrapper {
    display: none;
    .top-nav {
        background-color: rgb(123, 231, 141);
        .horizontal-list {
            list-style: none;
            margin:0;
            @include flex-properties(row, wrap, flex-end, stretch);
            &__item {
                padding: .5em 1.5em;
                a {
                    text-decoration: none;
                }
            }
            &__item:nth-child(1) {
                margin-right: auto;
            }
            
        }
    }
}


@media screen and (min-width: 768px) {
    .nav-wrapper {
        display: block;
    }
}