////////////////////////////////////
@use "../1-abstracts/" as *;
////////////////////////////////////


.card-container {
    padding: 1.5rem;
    gap:1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 2px solid rgb(28, 27, 63);
    .card {
        flex: 0 0 auto;
        width: clamp(23ch, 25ch, 30ch);
        padding: .5rem 0;
        border: 1px solid rgb(182, 182, 182);
        @include flex-properties(column, nowrap, space-between, center);
        &__details {
            @include flex-properties(row,nowrap,space-evenly, center);
            width: 100%;
        }
    }
}

.card-category {
    flex: 0 0 auto;
    width: clamp(23ch, 27ch, 32ch);
    border: 1px solid rgb(182, 182, 182);
    @include flex-properties(column, nowrap, space-between, center);
    .card__title {
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .card-container {
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: space-evenly;
    }
}

.cart__card {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #CCC;
    width: 35ch;
    p {
        padding: .5rem;
    }
}
