////////////////////////////////////
@use "../1-abstracts/" as *;
////////////////////////////////////


.offcanvasLink {
    display:block;
    padding: .5rem 0;
    li {
        margin: 1rem 0;
    }
    a {
        text-decoration: none;
        color: rgb(230, 230, 230);
    }
}

.offcanvas .divider {
    color: rgb(230, 230, 230);
}

#offcanvasMenuLabel {
    color: white;
}